* {
    transition: all 0.5s;
}

body {
    display: block;
    background-color: #3D3D3D;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}

.wrapper {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

/* header */
.header {
    margin-top: 100px;
}

.container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.card:hover {
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer;
}

.card {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.card-img {
    max-width: 100%;
    max-height: 420px;
    min-height: 200px;
    object-fit: cover;
}

.card-content {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.card-title {
    display: block;
    color: #FFFFFF;
    font-size: 3.0rem;
    font-family: "Robot", serif;
    font-weight: 800;
    line-height: 1;
    letter-spacing: .1em;
}

.card-text {
    display: block;
    color: #FFFFFF;
    font-size: 1.0rem;
    font-family: serif;
    font-weight: 100;
    letter-spacing: .2em;
    margin-top: 10px;
}
/* header */

/* feature */

/* feature */

.more-info {
    display: block;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    color: #bdbdbd;
}

.more-info h1 {
    margin-bottom: 20px;
    font-family: "Robot", serif;
    line-height: 1;
    letter-spacing: 0.12em;
}

.more-info p {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8em;
    line-height: 2;
}

footer {
    padding-bottom: 60px;
}

.inner {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.footer p {
    display: block;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8em;
    color: #bdbdbd;
}

/* media Queries 768 */
@media screen and (max-width: 768px) {

    .header {
        margin-top: 50px;
    }

    .container {
        margin-bottom: 50px;
    }


    .card-title {
        font-size: 2.6em;
    
}
    .card-text {
        font-size: 0.9em;
        margin-top: 8px;
    }
}
/* media Queries 768 */

/* media Queries 480 */
@media screen and (max-width: 480px) {

    .header {
        margin-top: 50px;
    }

    .container {
        margin-bottom: 50px;
    }

    .card-title {
        font-size: 2.1em;
    }

    .card-text {
        font-size: 0.7em;
        margin-top: 6px;
    }
}
/* media Queries 480 */