body {
    display: block;
    background-color: #3D3D3D;
}

/* header */
.header {
    margin-top: 100px;
}

.card {
    position: relative;
    margin: auto;
    max-width: 800px;
    max-height: 420px;
    width: 80%;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.card-img {
    width: 100%;
    max-height: 420px;
}

.card-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.card-title {
    display: block;
    color: #FFFFFF;
    font-size: 3.0rem;
    font-family: "Robot", serif;
    font-weight: 800;
    line-height: 1;
    letter-spacing: .1em;
}

.card-text {
    display: block;
    color: #FFFFFF;
    font-size: 1.0rem;
    font-family: "Robot", serif;
    font-weight: 100;
    letter-spacing: .2em;
    margin-top: 10px;
}

/* header */